---
---

@import "bootstrap";

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  font-size: 2em;
  line-height: 1.6em;
  letter-spacing: .05em;
  word-spacing: 0.2em;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dosis', sans-serif;
}

.btn_default{
   color: #333;
   background-color: #e6e6e6;
   border-color: #adadad;
   &:hover{
     background-color: #fff;
     color: #000;
   }
}

.sizing {
  width: 100%;
}
p, div {
  font-family: 'Dosis', sans-serif;
}

#logo{
  margin-left: 100px;
}

#home a { 
  color: inherit;
  &:hover{
     color: #5e6e7e;
     text-decoration: none; 
     cursor: pointer;  
  }
}

#home h1{
  margin-bottom: 0px;
}

#home small{
  margin-top: 0px;
}

#contact{
  list-style-type: none;
}

#contact a {
   color: #000000;
   font-size: .75em;
   text-decoration: none;
}

#post h1{
  margin-bottom: 0px;
}

#post hr{
  margin-top: 0px;
}

#about br{
   display: block; /* makes it have a width */
   content: ""; /* clears default height */
   margin-top: 10px;
}

.tag-cloud {
  list-style: none;
  padding: 0;
  text-align: justify; 
  font-size: 16px;
  li {
    display: inline-block;
    text-transform: uppercase;
    margin: 0 12px 12px 0; 
  }
}
#archives {
  padding: 5px;
}
.archive-group {
  margin: 5px;
  border-top: 1px solid #ddd;
}
.archive-item {
  margin-left: 0px;
}

.tag_links{
  color: #93ccea;
  &:hover{
    color: #5e6e7e;
    text-decoration: none; 
    cursor: pointer;  
  }
   
}
.post-tags {
  text-align: right;
}
.fa_share {
  color: black;
}
#contactForm {
  margin-top: 20px;
  width: 50%;
  margin: auto;
}

.send_btn{
   text-align: center;
   margin: 0, auto;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #252C34;
  text-align: left;
  padding: 5px;
  padding-left: 15px;
  color: #566473;
}
.footer ul {
  padding: 0;
  margin: 0;
}
.footer small p {
  font-size: .6em;
  padding: 0;
  margin: 0;
}
 