---
---

@import "bootstrap";

/* Sticky footer styles
-------------------------------------------------- */
$spacing-unit: 30px;

%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-size: 2em;
  line-height: 1.6em;
  letter-spacing: .05em;
  word-spacing: 0.2em;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dosis', sans-serif;
}

.navbar {
  border-radius: 0px;
}

.nav {
  margin-right: 25px;
}

div#content {
  padding-bottom: 60px;
}

.btn_default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
  &:hover {
    background-color: #fff;
    color: #000;
  }
}

.sizing {
  width: 100%;
}

.sizing_partial {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}

.sizing_partial_alter {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

@media only screen and (max-width: 500px) {
  .sizing_partial {
    width: 100%;
  }
}

p, div {
  font-family: 'Dosis', sans-serif;
}

#logo {
  margin-left: 100px;
  font-size: larger;
}

#home .post_links {
  color: inherit;
  &:hover {
    color: #5e6e7e;
    text-decoration: none;
    cursor: pointer;
  }
}

#home h1 {
  margin-bottom: 0px;
}

#home small {
  margin-top: 0px;
}

#contact {
  list-style-type: none;
}

#contact a {
  color: #000000;
  font-size: .75em;
  text-decoration: none;
}

#post h1 {
  margin-bottom: 0px;
}

#post hr {
  margin-top: 0px;
}

#about br {
  display: block; /* makes it have a width */
  content: ""; /* clears default height */
  margin-top: 10px;
}

.tag-cloud {
  list-style: none;
  padding: 0;
  text-align: justify; 
  font-size: 16px;
  li {
    display: inline-block;
    text-transform: uppercase;
    margin: 0 12px 12px 0; 
  }
}

#archives {
  padding: 5px;
}

.archive-group {
  margin: 5px;
  border-top: 1px solid #ddd;
}

.archive-item {
  margin-left: 0px;
}

.tag_links {
  color: #000080;
  text-decoration: none;
  &:hover {
    color: #5e6e7e;
    text-decoration: none;
    cursor: pointer;
  }
}

.post-tags {
  text-align: right;
}

.fa_share {
  color: black;
}

.skills_list{
  text-align: center;
  padding: 0;
  margin: 0;
}

.skill_tag {
  display: inline-block;
  border: 1px solid #fff;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 0px 10px;
  border-radius: 5px;
  font-size: 12px;
  background-color: rgba(80, 80, 80, 0.3)
}

.demo {
  text-align: center;
  margin-top: 10px;
}

#contactForm {
  margin-top: 20px;
  width: 50%;
  margin: auto;
}

.send_btn {
  text-align: center;
  margin: 0, auto;
}


.highlight {
  background: #fff;
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    background: #eef;
  }

  .c     { color: #998; font-style: italic } // Comment
  .err   { color: #a61717; background-color: #e3d2d2 } // Error
  .k     { font-weight: bold } // Keyword
  .o     { font-weight: bold } // Operator
  .cm    { color: #998; font-style: italic } // Comment.Multiline
  .cp    { color: #999; font-weight: bold } // Comment.Preproc
  .c1    { color: #998; font-style: italic } // Comment.Single
  .cs    { color: #999; font-weight: bold; font-style: italic } // Comment.Special
  .gd    { color: #000; background-color: #fdd } // Generic.Deleted
  .gd .x { color: #000; background-color: #faa } // Generic.Deleted.Specific
  .ge    { font-style: italic } // Generic.Emph
  .gr    { color: #a00 } // Generic.Error
  .gh    { color: #999 } // Generic.Heading
  .gi    { color: #000; background-color: #dfd } // Generic.Inserted
  .gi .x { color: #000; background-color: #afa } // Generic.Inserted.Specific
  .go    { color: #888 } // Generic.Output
  .gp    { color: #555 } // Generic.Prompt
  .gs    { font-weight: bold } // Generic.Strong
  .gu    { color: #aaa } // Generic.Subheading
  .gt    { color: #a00 } // Generic.Traceback
  .kc    { font-weight: bold } // Keyword.Constant
  .kd    { font-weight: bold } // Keyword.Declaration
  .kp    { font-weight: bold } // Keyword.Pseudo
  .kr    { font-weight: bold } // Keyword.Reserved
  .kt    { color: #458; font-weight: bold } // Keyword.Type
  .m     { color: #099 } // Literal.Number
  .s     { color: #d14 } // Literal.String
  .na    { color: #008080 } // Name.Attribute
  .nb    { color: #0086B3 } // Name.Builtin
  .nc    { color: #458; font-weight: bold } // Name.Class
  .no    { color: #008080 } // Name.Constant
  .ni    { color: #800080 } // Name.Entity
  .ne    { color: #900; font-weight: bold } // Name.Exception
  .nf    { color: #900; font-weight: bold } // Name.Function
  .nn    { color: #555 } // Name.Namespace
  .nt    { color: #000080 } // Name.Tag
  .nv    { color: #008080 } // Name.Variable
  .ow    { font-weight: bold } // Operator.Word
  .w     { color: #bbb } // Text.Whitespace
  .mf    { color: #099 } // Literal.Number.Float
  .mh    { color: #099 } // Literal.Number.Hex
  .mi    { color: #099 } // Literal.Number.Integer
  .mo    { color: #099 } // Literal.Number.Oct
  .sb    { color: #d14 } // Literal.String.Backtick
  .sc    { color: #d14 } // Literal.String.Char
  .sd    { color: #d14 } // Literal.String.Doc
  .s2    { color: #d14 } // Literal.String.Double
  .se    { color: #d14 } // Literal.String.Escape
  .sh    { color: #d14 } // Literal.String.Heredoc
  .si    { color: #d14 } // Literal.String.Interpol
  .sx    { color: #d14 } // Literal.String.Other
  .sr    { color: #009926 } // Literal.String.Regex
  .s1    { color: #d14 } // Literal.String.Single
  .ss    { color: #990073 } // Literal.String.Symbol
  .bp    { color: #999 } // Name.Builtin.Pseudo
  .vc    { color: #008080 } // Name.Variable.Class
  .vg    { color: #008080 } // Name.Variable.Global
  .vi    { color: #008080 } // Name.Variable.Instance
  .il    { color: #099 } // Literal.Number.Integer.Long
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the responsive height of the footer here */
  height: auto;
  background-color: #252C34;
  text-align: left;
  padding: 5px;
  padding-left: 15px;
  color: #566473;
}

.footer ul {
  padding: 0 0 0 0;
  margin: 0;
}

.footer small p {
  font-size: .6em;
  padding: 0;
  margin: 0;
}
