---
layout: page
title: Portfolio
description: "Portfolio"
---

<section id="portfolio">
  <h1 align="center">Portfolio</h1>
  {% for portfolio in site.portfolios %}
    <h2 align="left">{{ portfolio.title }}</a></h2>

    <ul class="slider1">
      {% for image in portfolio.images %}
        <li><img src="{{ image.path }}" title="{{ image.caption }}" /></li>
      {% endfor %}
    </ul>

    <ul class="skills_list">
      {% for skill in portfolio.skills %}
        <li class="skill_tag">{{ skill }}</li>
      {% endfor %}
    </ul>

    <p class="demo">Checkout the live version for demo <a href="{{ portfolio.production }}" target="_blank" class="tag_links">here.</a></p>
    <p class="demo">Checkout GitHub repo <a href="{{ portfolio.github }}" target="_blank" class="tag_links">here.</a></p>

    <p>{{ portfolio.content }}</p>
    <hr>
  {% endfor %}
</section>

<script type="text/javascript">
  $(document).ready(function(){
    $('.slider1').bxSlider({
      auto: true,
      pager: true,
      slideWidth: 800,
      captions: true
    });
  });
</script>